<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wm.werewolf"
    android:versionCode="1"
    android:versionName="1.0" >


            
            
<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
            
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
<permission
          android:name="edu.wm.werewolf.permission.MAPS_RECEIVE"
          android:protectionLevel="signature"/>
        <uses-permission android:name="edu.wm.werewolf.permission.MAPS_RECEIVE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/wolf_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
                    <meta-data
    android:name="com.google.android.gms.version"
    android:value="@integer/google_play_services_version" />
                    <uses-library android:name="com.google.android.maps" />

        
        <activity
            android:name="edu.wm.werewolf.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                <service android:enabled="true" android:name="edu.wm.werewolf.service.GameUpdateService" android:value=".GameUpdateService" />
                
        <activity android:name="edu.wm.werewolf.GameStatus" android:label="@+string/activity_gamestatus"></activity>
        <activity android:name="edu.wm.werewolf.RegisterActivity" android:label="@+string/activity_main" ></activity>
        <activity android:name="edu.wm.werewolf.PlayerProfile" android:label="@+string/activity_playerprofile" ></activity>
                    <meta-data
    android:name="com.google.android.maps.v2.API_KEY"
    android:value="AIzaSyDxAOO7NGib-geQHMpZJpBRWof1z4UiLr8"/>
    </application>

</manifest>
